body{
    position: relative;


}
.widget {
    width: 600px;
    height: 250px;
    background-color: cornflowerblue;
    color: white;
    font-size: 35px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 110px;
    margin-bottom: 10px;


}


.bigwidget {
    height: 185px;
    width: 185px;
    background-color: cadetblue;
    color: white ;
     font-size: 15px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 70px;
    margin-right: 20px;
}


.biggerwidgets {
    height: 185px;
    width: 185px;
    background-color: cadetblue;
    color: white;
    font-size: 15px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 70px;
    margin-right: 20px;
}


.hugewidgest {
    height: 185px;
    width: 185px;
    background-color: cadetblue;
    color: white;
    text-align: center;
    box-sizing: border-box;
    padding-top: 70px;
    margin-right: 20px;


}

#container {
    display: flex;
   flex-direction: row;
}


.concant {
    height: 250px;
    width: 600px;
    background-color: cornflowerblue;
    color: white;
    font-size: 35px;
    box-sizing: border-box;
   padding-top: 110px;
    margin-top: 20px;
    text-align: center;
}