body{
    background-color: cyan;
   margin-left: 50px;
}

.colum1 {
    flex-direction: column;
  position: relative;


}
.colum2 {
    flex-direction: column;
  position: relative;
    bottom: 506px;
    left: 800px;
}

.web{
    width: 450px;
    height: 150px;
   background-color: white;
    padding-left: 200px;
    padding-right: 15px;
   border-radius: 5px;
}

h3 {
    color: orange;


}

.conversion {
    width: 450px;
    height: 150px;
    background-color: white;
    padding-left: 200px;
    padding-right: 15px ;
    border-radius: 5px;

}


.logo-identity-desing {
    width: 450px;
    height: 150px;
    background-color: white;
    padding-left: 200px;
    padding-right: 15px;
    border-radius: 5px;


}

.web-development {
    width: 450px;
    height: 150px;
    background-color: white;
    padding-left: 200px;
    padding-right: 15px;
    border-radius: 5px;
    flex-direction: row ;

}

.world-development {
    width: 450px;
    height: 150px;
    background-color: white;
    padding-left: 200px;
    padding-right: 15px;
    border-radius: 5px;


}

.social-media-ads-desing {
    width: 450px;
    height: 150px;
    background-color: white;
    padding-left: 200px;
    padding-right: 15px;
    border-radius: 5px;
}





