#header {
    height: 50px;
    width: 250px;
    border: 1px solid black;
    background-color: orange;
    text-align: center;
    box-sizing: border-box;
   padding-top: 10px;
    margin-bottom: 10px;
}


#menu {
    height: 250px;
    width: 50px;
    border: 1px solid black;
    background-color: pink;
    text-align: center;
    box-sizing: border-box;
    padding-top: 80px;
    display: flex;


}

.post , .post2 {
    height: 115px;
    width: 190px;
    border: 1px solid black;
    background-color: aqua;
    text-align: center;
    box-sizing: border-box;
     padding-top: 10px;
    flex-direction: column;
    display: flex;
    position: relative;
    top: -270px;
    left: 40px;
    margin: 20px;

}


#footer {
    height: 50px;
    width: 250px;
    border: 1px solid black;
   background-color: silver;
    top: 330px;
    position: absolute;

}