# Default ignored files
/../../home1./.idea/shelf/
/../../home1./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../home1./.idea/httpRequests/
# Datasource local storage ignored files
/../../home1./.idea/dataSources/
/../../home1./.idea/dataSources.local.xml
